*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
}
/* */

body{
    font-family: arial,'Open Sans', sans-serif;
    font-size: 18px;
    margin: 15px;
    
}

.logo {
    position:absolute;
    width: 80px;
    margin: 20px;
  }

  h1{
    padding: 23px;
    text-align: center;
    background-color: rgb(183, 208, 228);
  }

  nav ul li {
    font-size: 14px;
    display: inline;
    padding: 20px;
    
  }

h2 {
    text-align: center;
    padding: 20px;
}
p{
    padding: 5px;
    text-align: justify;
}
.img01{
    width: 100%;
}

.footer1{
    padding: 20px;
    text-align: center;

}
.footer2{
    text-align: end;
    font-size: 16px;
}