*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
}
/* */

body{
    font-family: 'Times New Roman', Times, serif,'Open Sans', sans-serif;
    font-size: 18px;
    margin: 15px;
        
}

h1{
    padding: 20px;
    text-align: center;
    background-color: rgb(183, 208, 228);

}

.logo {
    position:absolute;
    width: 80px;
    margin: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;    
}
.img01{
    width: 100%;
}
span{
    font-size: 20px;
}

.ref {
    padding: 10px;
    font-size: 16px;
    width: 100%;

}
.nav{
    align-items: center;
    text-align: justify;
}

.footer1{
    padding: 20px;
    text-align: center;

}
.footer2{
    text-align: end;
    font-size: 16px;
}